<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>My Activity | BlueTracker</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="/static/images/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="/static/css/base.css">
    <link rel="stylesheet" type="text/css" href="/static/css/activity.css">
</head>
<body>

	<div id="root">
		<div id="header"></div>

		<div id="body">
			<span class="heading">My Activity</span>
			<span class="sub-heading" id="user-name">John Doe</span>
			<br>
			<span class="text">Check all of your spendings.</span>
			<br><br>
			<div id="brief">
				<div id="income">Income : 10,000</div>
				<div id="savings">Savings : 8,000</div>
				<div id="total-spent">Total Spent: 2,000</div>
			</div>
			<div class="text" id="main">
				<div>
					<span class="sub-heading">Expenses : 1,500</span>
					<br>
					<li class="list-item">1200 at Rent on 01/10/2021 <small style="float: right;">id: NULL</small></li>
					<li class="list-item">300 at Electricity on 01/10/2021 <small style="float: right;">id: a65-2ljptngrph2</small></li>
				</div>
				<div>
					<span class="sub-heading">Transactions : 500</span>
					<br>
					<li class="list-item">100 at Fuel on 04/10/2021 <small style="float: right;">id: aef45sgh</small></li>
					<li class="list-item">400 at Movie on 04/10/2021 <small style="float: right;">id: bbf65shangchi-265</small></li>
				</div>
			</div>
		</div>

		<div id="footer"></div>
	</div>

	<script type="text/javascript" src="/static/js/activity.js"></script>
</body>
</html>