<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>My Activity | BlueTracker</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="/static/images/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="/static/css/base.css">
    <link rel="stylesheet" type="text/css" href="/static/css/activity.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
</head>
<body>
    <div class="container py-4">
	<nav class="
		navbar navbar-expand-lg navbar-light
		bg-white
		border-bottom
		pb-3
		mb-4
		sticky-top
		">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">Blue<span class="text-primary">Tracker</span></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="/">Dashboard</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/profile">Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/activity">Activity</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/leaderboard">Leaderboard</a>
            </li>
          </ul>
          <div class="ms-auto">
            <button class="btn btn-outline-primary" type="submit" onclick="logout();">Logout</button>
          </div>
          
        </div>
      </div>
    </nav>
	<div id="root">
		<div id="header"></div>

		<div id="body">
			<span class="heading">This Month's Activity</span>
			<span class="sub-heading" id="user-name"></span>
			<br>
			<span class="text">All of your spendings this month.</span>
			<br><br>
			<div id="brief">
				<div id="income-container">Income : <span id="income"></span></div>
				<div id="savings-container">Savings : <span id="savings"></span></div>
				<div id="spendings-container">Total Spent: <span id="spendings"></span></div>
			</div>
			<div id="new-expenditure">
				<center>
					<form method="post" onsubmit="return new_expenditure()">
						<span class="heading">Add New <span id="add-to">Transaction</span></span>
						<div id="toggle-expenditure" class="sub-heading" onclick="toggle_new_expenditure();">Switch to&nbsp;<span id="switch-to">Expense</span></div>
						<br>
						<input type="name" name="id" placeholder="Id (if any)..." autocomplete="off">
						<input type="number" name="amount" placeholder="Amount..." autocomplete="off" required>
						<input type="name" name="category" placeholder="Detail...">
						<br>
						<input type="submit" name="submit" value="Add New Expenditure Entry">
					</form>
				</center>
			</div>
			<div class="text" id="main">
				<div id="expenses-container">
					<span class="sub-heading">Expenses : <span id="expenses"></span></span>
					<br>
				</div>
				<div id="transactions-container">
					<span class="sub-heading">Transactions : <span id="transactions"></span></span>
					<br>
				</div>
			</div>
		</div>
		<div id="footer"></div>
	</div>
</div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/static/js/api.js"></script>
	<script type="text/javascript" src="/static/js/activity.js"></script>
</body>
</html>