<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" type="image/x-icon" href="/static/images/favicon.ico" />
    <link rel="stylesheet" href="/static/css/leaderboard.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="heading">
      <h1>Leaderboard</h1>
    </div>

    <div class="table_data">
      <table id="leaderboard">
        <tr>
          <th>RANK</th>
          <th>NAME</th>
          <th>INDEX</th>
        </tr>
      </table>
    </div>

    <script src="/static/js/leaderboard.js"></script>
    <script src="/static/js/api.js"></script>
  </body>
</html>
