<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/login.css" />
    <title>Login Page</title>
  </head>
  <body>
    <div class="container">
      <div class="content">
        <h1>BlueBot Budget</h1>
        <p>
          An online budget tracker. One stop for all your budget tracking needs
          <br />
          <br />

          Maintain your monthly budget. Keep track of your expenses.
        </p>
        <a href="#"><button>Get Started</button></a>
      </div>
      <div class="form_sheet">
        <div class="form_details">
          <h2>Form</h2>
          <div class="input_data">
            <input type="text" placeholder="Name" />
            <br />
            <input type="email" placeholder="Email" />
            <br />
            <input type="password" placeholder="Password" />
          </div>
          <a href="#"><button>Send</button></a>
        </div>
      </div>
    </div>
    <div class="container_2"></div>
  </body>
</html>
