<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/login.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF"
      crossorigin="anonymous"
    />
    <title>Login Page</title>
  </head>
  <body>
    <div class="container_1">
      <div class="content">
        <h1>BlueTracker Budget</h1>
        <p>
          An online budget tracker. One stop for all your budget tracking needs
          We present an intelligent online budget tracker (BlueTracker) to
          efficiently manage budget. Our system will help to plan and track
          budget related issues where members of the system can securely access
          it anytime from anywhere via the Internet.

          <br />
          <br />
          The Intelligent Online Budget Tracker not only keeps track of the
          budget but also provides means to analyze data
          <b>via charts and graphs</b> . Maintain your monthly budget. Keep
          track of your expenses.
        </p>
        <div id="sawo-container" style="height: 300px; width: 300px"></div>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="/static/js/api.js"></script>
        <script src="https://websdk.sawolabs.com/sawo.min.js"></script>
        <script>
          var config = {
            containerID: "sawo-container",
            identifierType: "email",
            apiKey: "a2d4b696-e17c-4291-b36a-3fcb3c8a4f4d",
            // apiKey: "30718d1c-e51a-4130-bf14-b6384db452f6",
            onSuccess: (payload) => {
              username = payload.identifier;
              username = username.replace(
                username.substr(username.indexOf("@")),
                ""
              );
              authorize(username, payload.identifier, payload.user_id);
            },
          };
          var sawo = new Sawo(config);
          sawo.showForm();
        </script>
      </div>
      <img src="/static/images/ui-design.png" alt="" />
    </div>
  </body>
</html>
